<div class="container-main">

    <div class="row py-4 justify-content-between align-items-center">
        <div class="col-auto right-main-title">
            Frequently Asked Questions (FAQ)
        </div>
        <div class="col-auto breadcrumbs m-0 align-items-end">
            <ul>
                <li><a href="#">Home</a></li>
                <li>/</li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>

</div>

<div class="container-main nobg p-5">
    <div class="row">
        <div class="col-12 my-4">
            <div class="search_faq">
                <i class="fa fa-search search" aria-hidden="true"></i>
                <input class="input_search" type="text" placeholder="Search for topics or questions" />
                <button class="black_btn">SEARCH</button>
            </div>
        </div>
        <div class="col-12">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Shipping FAQs
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ol>
                            <li>
                                <h6 class="fw-bold">What are the various modes of payment at PRIME SHOPPER?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A necessitatibus officiis voluptas corrupti enim molestias provident similique harum ea maxime, exercitationem, eveniet quia omnis facere voluptatum adipisci recusandae ad eaque in consequuntur vel nostrum, quibusdam deserunt alias! Possimus perspiciatis placeat assumenda provident, fuga, alias distinctio culpa, voluptatibus iusto nemo aliquid?</p>
                            </li>
                            <li>
                                <h6 class="fw-bold">What are the various modes of payment at PRIME SHOPPER?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A necessitatibus officiis voluptas corrupti enim molestias provident similique harum ea maxime, exercitationem, eveniet quia omnis facere voluptatum adipisci recusandae ad eaque in consequuntur vel nostrum, quibusdam deserunt alias! Possimus perspiciatis placeat assumenda provident, fuga, alias distinctio culpa, voluptatibus iusto nemo aliquid?</p>
                            </li>
                            <li>
                                <h6 class="fw-bold">What are the various modes of payment at PRIME SHOPPER?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A necessitatibus officiis voluptas corrupti enim molestias provident similique harum ea maxime, exercitationem, eveniet quia omnis facere voluptatum adipisci recusandae ad eaque in consequuntur vel nostrum, quibusdam deserunt alias! Possimus perspiciatis placeat assumenda provident, fuga, alias distinctio culpa, voluptatibus iusto nemo aliquid?</p>
                            </li>
                        </ol>
                    </div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#cancellation" aria-expanded="false" aria-controls="flush-collapseOne">
                        Cancellation FAQs
                    </button>
                  </h2>
                  <div id="cancellation" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ol>
                            <li>
                                <h6 class="fw-bold">What are the various modes of payment at PRIME SHOPPER?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A necessitatibus officiis voluptas corrupti enim molestias provident similique harum ea maxime, exercitationem, eveniet quia omnis facere voluptatum adipisci recusandae ad eaque in consequuntur vel nostrum, quibusdam deserunt alias! Possimus perspiciatis placeat assumenda provident, fuga, alias distinctio culpa, voluptatibus iusto nemo aliquid?</p>
                            </li>
                            <li>
                                <h6 class="fw-bold">What are the various modes of payment at PRIME SHOPPER?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A necessitatibus officiis voluptas corrupti enim molestias provident similique harum ea maxime, exercitationem, eveniet quia omnis facere voluptatum adipisci recusandae ad eaque in consequuntur vel nostrum, quibusdam deserunt alias! Possimus perspiciatis placeat assumenda provident, fuga, alias distinctio culpa, voluptatibus iusto nemo aliquid?</p>
                            </li>
                            <li>
                                <h6 class="fw-bold">What are the various modes of payment at PRIME SHOPPER?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A necessitatibus officiis voluptas corrupti enim molestias provident similique harum ea maxime, exercitationem, eveniet quia omnis facere voluptatum adipisci recusandae ad eaque in consequuntur vel nostrum, quibusdam deserunt alias! Possimus perspiciatis placeat assumenda provident, fuga, alias distinctio culpa, voluptatibus iusto nemo aliquid?</p>
                            </li>
                        </ol>
                    </div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#payment" aria-expanded="false" aria-controls="flush-collapseOne">
                        Payment FAQs
                    </button>
                  </h2>
                  <div id="payment" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ol>
                            <li>
                                <h6 class="fw-bold">What are the various modes of payment at PRIME SHOPPER?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A necessitatibus officiis voluptas corrupti enim molestias provident similique harum ea maxime, exercitationem, eveniet quia omnis facere voluptatum adipisci recusandae ad eaque in consequuntur vel nostrum, quibusdam deserunt alias! Possimus perspiciatis placeat assumenda provident, fuga, alias distinctio culpa, voluptatibus iusto nemo aliquid?</p>
                            </li>
                            <li>
                                <h6 class="fw-bold">What are the various modes of payment at PRIME SHOPPER?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A necessitatibus officiis voluptas corrupti enim molestias provident similique harum ea maxime, exercitationem, eveniet quia omnis facere voluptatum adipisci recusandae ad eaque in consequuntur vel nostrum, quibusdam deserunt alias! Possimus perspiciatis placeat assumenda provident, fuga, alias distinctio culpa, voluptatibus iusto nemo aliquid?</p>
                            </li>
                            <li>
                                <h6 class="fw-bold">What are the various modes of payment at PRIME SHOPPER?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A necessitatibus officiis voluptas corrupti enim molestias provident similique harum ea maxime, exercitationem, eveniet quia omnis facere voluptatum adipisci recusandae ad eaque in consequuntur vel nostrum, quibusdam deserunt alias! Possimus perspiciatis placeat assumenda provident, fuga, alias distinctio culpa, voluptatibus iusto nemo aliquid?</p>
                            </li>
                        </ol>
                    </div>
                  </div>
                </div>
                
              </div>
        </div>
    </div>
</div>

<!-- <div class="main_faq">
    <div class="container mt-4">
        <div class="search_faq">
            <i class="fa fa-search search" aria-hidden="true"></i>
            <input class="input_search" type="text" placeholder="Search for topics or questions" />
            <button class="black_btn">SEARCH</button>
        </div>
        <div class="faq-link mt-5">
            <div class="rows">
                <div class="qa-topic col-md-3">
                    Step 1: Select Topic
                </div>
                <div class="qa-topic col-md-4">
                    Step 2: Select Issue
                </div>
                <div class="col-md-5 qa-topic">
                    Step 3: Get assistance
                </div>
            </div>
            <div id="left-tabs-example" class="rows">
                <div class="qa-content col-md-3">
                    <div class="nav-list">
                        <ul id="myTab" role="tablist" class="list-item">
                            <li class="list-item-li">
                                <a id="home-tab" data-toggle="tab" href="#home" class="text" role="tab" aria-controls="home"
                                    aria-selected="true">Shipping FAQs
                                    <span class="arrow-left">
                                        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                                    </span>
                                </a>


                            </li>
                            <li class="list-item-li">
                                <a id="profile-tab"  class="text" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                aria-selected="false">Cancellation FAQs</a>
                                <span class="arrow-left">
                                    <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                                </span>

                            </li>
                            <li class="list-item-li">
                                <a id="contact-tab"  class="text" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                                aria-selected="false">Payment FAQs</a>
                                <span class="arrow-left">
                                    <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                                </span>

                            </li>
                        </ul>

                    </div>

                </div>
                <div class="tab-content col-md-4 " id="myTabContent">
                    <div class="qa-content">
                        <div class="nav-list">
                            <ul class="list-item">
                                <li  class=" tab-pane fade list-item-li show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <a>What are the various modes of payment at PRIME SHOPPER?</a>
                                    <span class="arrow-left">
                                        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                                    </span>
    
                                </li>
                                <li class="tab-pane fade list-item-li" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <a>What does "Cash on Delivery" mean?</a>
                                    <span class="arrow-left">
                                        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                                    </span>
    
                                </li>
                                <li id="contact" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade list-item-li">
                                    <a>Can I pay using International Currency?</a>
                                    <span class="arrow-left">
                                        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                                    </span>
    
                                </li>
                            </ul>
    
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="contain-details">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero totam sed nesciunt ab, recusandae soluta impedit culpa reiciendis magnam voluptatem est eos expedita quo? Voluptas voluptatum earum corporis sint id rerum vel adipisci, illum maxime minus qui reprehenderit consequuntur, distinctio veritatis excepturi alias, consequatur accusamus dolor? Voluptate qui fugiat magni.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->