<div class="about-us">
    <div class="d-flex flex-column align-items-center">
        <h1>About Us</h1>
        <img src="https://www.ajio.com/medias/sys_master/images/images/h5e/hfc/11339012800542/who-we-are-desktop.jpg"
            alt="">
    </div>
    <div class="container mt-5">
        <div class="about_heading">
            <p>With the trendiest, freshest, and most unique styles from across India and the world, AJIO invites you to
                express your personal style fearlessly, and with a confidence and optimism that cannot be easily shaken.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="owl_heading">
                    AJIO OWN
                </h2>
                <p class="description">AJIO OWN is our private label – that’s designed by us, and owned by you. If
                    you’re looking for
                    head-turning styles that are one-of-a-kind, AJIO OWN is what you should stock up on.</p>
            </div>
            <div class="col-md-6">
                <h2 class="owl_heading">
                    Exclusive International Labels
                </h2>
                <p class="description">We bring you the trendiest and most exclusive brands from around the world to
                    your wardrobe. Forget
                    scouring the net for what’s hot globally, we’ve got you covered.</p>
            </div>
        </div>
        <div class="about_heading">
            <p> So the next time someone says ‘Oh, that dress is too bold’ ‘Are you sure you’re the right size for
                this?’ ‘Maybe
                you should pick a colour that suits you’ or ‘Act your age and wear something else’, go ahead and do
                exactly what
                you please. When it comes
                to great style and personal expression, there should never be any regrets.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="owl_heading">
                    Capsule Collections
                </h2>
                <p class="description">If there’s an occasion to express your personal style, we’ve got a capsule
                    collection to match. Shopping
                    for a specific mood, event or style story has never been easier.</p>
            </div>
            <div class="col-md-6">
                <h2 class="owl_heading">
                    The Indie Experience
                </h2>
                <p class="description">Our Indie styles are literally art you can wear. They are carefully handpicked,
                    so that only the most
                    authentic, handcrafted pieces by artisans across the country and globe make the cut.</p>
            </div>


            <div class="col-md-6">
                <h2 class="owl_heading">
                    AJIO Style Tribe
                </h2>
                <p class="description">A high-fashion editorial where we feature the internet’s coolest cats. It’s where
                    you get to read the
                    stories of these influencers and shop their stunning shoot looks.</p>
            </div>
            <div class="col-md-6">
                <h2 class="owl_heading">
                    #AJIOtoday
                </h2>
                <p class="description">Our daily trend spotlight that lets you in on what’s hip and happening, and what
                    you should be carting
                    right now. Like they say, a trend each day keeps the blues away!</p>
            </div>


            <div class="col-md-6">
                <h2 class="owl_heading">
                    #AJIOrecommends
                </h2>
                <p class="description">From the hailstorm of trends coming down on us every season, we only recommend
                    the ones guaranteed to put
                    you on the hit list. Watch out for these regular highlights.</p>
            </div>
            <div class="col-md-6">
                <h2 class="owl_heading">
                    #recommendsAJIO
                </h2>
                <p class="description">This is where we celebrate and showcase our most stylish customers, who’ve given
                    us a shout-out on social
                    while dressed in a trendy AJIO style. You could very well be on the list too.</p>
            </div>


            <div class="row content_owl">
                <div class="col-md-4">
                    <div class="Truk">
                        <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                        <div class="truck_span">
                            <span>30 DAY RETURNS*</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="Truk">
                        <i class="fa fa-heart fa-5x" aria-hidden="true"></i>

                        <div class="truck_span">
                            <span>100% HANDPICKED</span>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="Truk">
                        <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                        <div class="truck_span">
                            <span>ASSURED QUALITY</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>





</div>