.login.dropdown{
     padding: 25px 0;
}
[aria-labelledby="profile-dropdown"]{
     right: 0;
     min-width: 200px;
     box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
     border: none;
     top: 100%;
}
.dropdown-item.active, .dropdown-item:active{
     background-color: #000;
     color: #fff;
}
#category-dropdown,
#category-dropdown.show, 
#category-dropdown:hover{
    color: #000;

}

