<header>
    <div class="row header align-items-center justify-content-between">
        <div class="col-sm-2 col-5 logo">
            <a [routerLink]="['']"><img src="/assets/images/logo.png" alt=""></a>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-7 col-12  header-center">
            <div class="row gx-2 justify-content-between">
                <div class="col-md-4 d-none d-md-block">
                    <div class="categories-menu d-none d-md-block">
                        <a class="nav-link dropdown-toggle text-truncate" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/assets/images/menu.png" alt=""> Shop By Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            sdfsd
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="searching d-flex">
                        <img src="/assets/images/search.png" alt="" class="search_icon">
                        <input type="text" placeholder="Search for a Products, Brand or Category">
                    </div>
                </div>
                 <!-- <div class="col-3 searching d-flex pincode">
                <img src="/assets/images/location.png" alt="">
                <input type="text" placeholder="Pincode">
            </div> -->
            </div>
            
            
           
        </div>
        <div class="col-lg-4 col-md-2 col-sm-3 col-5 header-right d-flex align-items-center justify-content-between">
            <div class="my-order">
                <a href="#">
                    <img src="/assets/images/head-right-icon1.png" alt="" class="mr-2"> <span> My Order</span>
                </a>
            </div>
            <div  class="cart">
                <a [routerLink]="['/cart']" >
                    <img src="/assets/images/head-right-icon2.png" alt="" class="me-1">
                    <!-- <span class="cart_badge">10</span> -->
                    <span> No Items</span>
                </a>
            </div>

            <h1 *ngIf="checkLogin; then logout else login"></h1>
            <ng-template #login>
            <div class="login"> 
                <a [routerLink]="['/login']" routerLinkActive="active" >
                    <img src="/assets/images/head-right-icon3.png" alt="" class="me-1"> 
                    <span> Login / Sign Up</span>
                </a>
            </div>
        </ng-template>
        <ng-template #logout>

            <div class="login dropdown">
                <a href="#" class="d-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown" id="profile-dropdown" data-bs-offset="0,20">
                    <span class="text-truncate" style="max-width: 100px;">Ravi Jasoliya kjhb jbj b</span>
                    <i class="fa fa-user-circle ms-2 fs-3" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile-dropdown" >
                    
                    <li><a class="dropdown-item" href="#">My Account</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/view-profile']">View Profile</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/edit-profile']">Edit Profile</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/myorders']">My Orders</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="d-flex align-items-center dropdown-item" (click)="logout_user()">
                            <i class="fa fa-power-off me-2 fs-5" aria-hidden="true"></i>
                            <span> Logout</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- <div class="login">
                
            </div> -->
        </ng-template>
        </div>
    </div>
</header>