<div class="user-main-logo">
    <img src="/assets/images/original-logo.png" alt="">
</div>
<div class="login-container">
    <div class="login-header">
        <div class="header-image">
            <img src="/assets/images/login.png" alt="">
        </div>

        <h1 class="header-title text-center">
            Welcome to <b>PrimeShopper</b>
        </h1>
    </div>

    <form autocomplete="off">
        <div class="input app-input">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Enter your Email" />
        </div>

        <button type="button" class="button app-login-button">
            Send Email
        </button>
    </form>

    <div class="footer">
        <p class="text text-center">
            already have an account
            <a routerLink="/login" class="text link">Login!</a>
        </p>
    </div>
</div>