.shopping-cart-main {
    max-width: 1665px;
    height: auto;
    margin: 0 auto;
}

.shopping-cart {
    background: #FFF;
    padding: 30px;
}

.title {
    border-bottom: 1px solid #E1E8EE;
    padding: 0px 0 25px 0;
    color: #071c34;
    text-transform: capitalize;
    font-size: 38px;
    font-weight: 400;
    text-align: left;
}

.item {
    padding: 25px 0px;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #E1E8EE;
}

.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 15px;
    float: left;
}

.delete-btn,
.like-btn {
    display: inline-block;
    cursor: pointer;
}

.delete-btn {
    width: 18px;
    height: 17px;
    background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg") no-repeat center;
}

.like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('https://designmodo.com/demo/shopping-cart/twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
}

.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: right;
    }
}

.image {
    /* margin-right: 15px; */
    height: 100px;
    width: 100%;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    margin-right: 15px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.quantity {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: solid 1px #CCC;
    border-radius: 25px;
}
.quantity_icon{
    color: #777;
    font-size: 14px;
}
.quantity_icon:hover{
    color: #000;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    background-color: transparent;
}

button[class*=btn] {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0;
}

.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline: 0;
}

.total-price {
    text-align: right;
    font-size: 16px;
    color: #000;
    font-weight: 800;
}

@media (max-width: 991px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image img {
        width: auto;
    }
    .image,
    .quantity,
    .description {
        width: 100%;
        margin: 6px 0;
    }
    .buttons {
        margin-right: 20px;
    }
    .col-quantity{
        justify-content: center;
        padding: 2px;
    }
    .price-main-right{
        text-align: center;
    }
}

.description ul {
    margin: 0;
    padding: 0;
}

.description ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 0 15px 0 15px;
    border-left: solid 1px #CCC;
}

.description ul li:first-child {
    border: none;
    padding-left: 0;
}

.description ul li a {
    color: #777;
}
.description ul li a:hover{
    color: #000;
}

.sub-price-tatal {
    text-align: right;
    padding: 20px 0 0;
}

.sub-price-tatal b {
    font-weight: 800;
}

.price-main-right {
    background: #FFF;
    padding: 30px;
    /* margin-top: 30px; */
}

.price-main-right h1 b {
    font-size: 22px;
}

.price-main-right h1 {
    font-size: 18px;
    text-align: center;
}

.price-main-right h2 {
    text-align: center;
    font-size: 16px;
    color: #7e7e7e;
}

.price-main-right h2 b {
    font-weight: bold;
}

.price-main-right p {
    font-size: 14px;
    font-weight: 400;
}

.price-main-right input {
    width: 100%;
    background: #000;
    color: #FFF;
    border-radius: 25px;
    border: none;
    height: 50px;
    margin: 20px 0 0 0;
    font-weight: bold;
    font-size: 14px;
}

.shopping-cart.top-space {
    margin-top: 30px;
}