<div class="shopping-cart-main">
    <div class="row">
        <div class="col-md-9">
            <div class="shopping-cart">
                <!-- Title -->
                <div class="title">
                    Shopping Cart
                </div>
                <!-- Product #1 -->
                <div class="item">
                    <div class="image">
                        <img src="https://designmodo.com/demo/shopping-cart/item-1.png" alt="" />
                    </div>
                    <div class="description">
                        <span>Apple 20W USB-C Power Adapter (for iPhone, iPad & AirPods)</span>
                        <ul>
                            <li>
                                <a href="#">Delete</a>
                            </li>
                            <li>
                                <a href="#">Save for Later</a>
                            </li>
                        </ul>
                    </div>
                    <div class="quantity">
                        <button class="plus-btn" type="button" name="button">
                            <img src="https://designmodo.com/demo/shopping-cart/plus.svg" alt="" />
                        </button>
                        <input type="text" name="name" value="1">
                        <button class="minus-btn" type="button" name="button">
                        <img src="https://designmodo.com/demo/shopping-cart/minus.svg" alt="" />
                    </button>
                    </div>
                    <div class="total-price">$549.00</div>
                </div>

                <!-- Product #2 -->
                <div class="item">
                    <div class="image">
                        <img src="https://designmodo.com/demo/shopping-cart/item-2.png" alt="" />
                    </div>
                    <div class="description">
                        <span>Apple 20W USB-C Power Adapter (for iPhone, iPad & AirPods)</span>
                        <ul>
                            <li>
                                <a href="#">Delete</a>
                            </li>
                            <li>
                                <a href="#">Save for Later</a>
                            </li>
                        </ul>
                    </div>
                    <div class="quantity">
                        <button class="plus-btn" type="button" name="button">
                        <img src="https://designmodo.com/demo/shopping-cart/plus.svg" alt="" />
                    </button>
                        <input type="text" name="name" value="1">
                        <button class="minus-btn" type="button" name="button">
                        <img src="https://designmodo.com/demo/shopping-cart/minus.svg" alt="" />
                    </button>
                    </div>
                    <div class="total-price">$870.00</div>
                </div>

                <!-- Product #3 -->
                <div class="item">
                    <div class="image">
                        <img src="https://designmodo.com/demo/shopping-cart/item-3.png" alt="" />
                    </div>
                    <div class="description">
                        <span>Apple 20W USB-C Power Adapter (for iPhone, iPad & AirPods)</span>
                        <ul>
                            <li>
                                <a href="#">Delete</a>
                            </li>
                            <li>
                                <a href="#">Save for Later</a>
                            </li>
                        </ul>
                    </div>
                    <div class="quantity">
                        <button class="plus-btn" type="button" name="button">
                            <img src="https://designmodo.com/demo/shopping-cart/plus.svg" alt="" />
                        </button>
                        <input type="text" name="name" value="1">
                        <button class="minus-btn" type="button" name="button">
                            <img src="https://designmodo.com/demo/shopping-cart/minus.svg" alt="" />
                        </button>
                    </div>
                    <div class="total-price">$349.00</div>
                </div>
                <div class="sub-price-tatal">
                    Subtotal : <b>$ 2,045.00</b>
                </div>
            </div>


            <div class="shopping-cart top-space">
                <!-- Title -->
                <div class="title">
                    Save for later
                </div>
                <!-- Product #1 -->
                <div class="item">
                    <div class="image">
                        <img src="https://designmodo.com/demo/shopping-cart/item-1.png" alt="" />
                    </div>
                    <div class="description">
                        <span>Apple 20W USB-C Power Adapter (for iPhone, iPad & AirPods)</span>
                        <ul>
                            <li>
                                <a href="#">Delete</a>
                            </li>
                            <li>
                                <a href="#">Move to Cart</a>
                            </li>
                        </ul>
                    </div>
                    <div class="quantity">
                        <button class="plus-btn" type="button" name="button">
                            <img src="https://designmodo.com/demo/shopping-cart/plus.svg" alt="" />
                        </button>
                        <input type="text" name="name" value="1">
                        <button class="minus-btn" type="button" name="button">
                        <img src="https://designmodo.com/demo/shopping-cart/minus.svg" alt="" />
                    </button>
                    </div>
                    <div class="total-price">$549.00</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="price-main-right">
                <p>Your order is eligible for FREE Delivery. Select this option at checkout.</p>
                <h1>Subtotal (2 items) : <b>$ 2,045.00</b></h1>
                <!-- <h2>Delivery Charge : <b>$ 25.00</b></h2> -->
                <input type="submit" name="Proceed to Buy" value="Proceed to Buy">
            </div>
        </div>
    </div>
</div>