.footer {
    background: #FFF;
    overflow: hidden;
    margin-top: 50px;
}


.footer-boxes h1 {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    margin: 0;
    padding: 0 0 20px 0;
}

.footer-boxes ul {
    margin: 0;
    padding: 0;
}

.footer-boxes ul li {
    font-size: 14px;
    list-style-type: none;
    line-height: 28px;
}

.footer-boxes ul li a {
    color: #5e5e5e;
}

.footer-boxes.box1 ul {
    padding-top: 30px;
}

.footer-boxes.box1 ul li {
    display: inline-block;
    border-left: solid 1px #5e5e5e;
    padding: 0 5px;
    line-height: 15px;
}

.footer-boxes.box1 ul li:first-child {
    border-left: none;
    padding-left: 0;
}
.footer-boxes a:hover{
    color: #000 !important;
}


.bottom-footer {
    background: #e8e8e8;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    padding: 20px;
}