.container-main .col-sm-3 {
    max-width: 21%;
}

.container-main .col-sm-9 {
    max-width: 79%;
    flex: 0 0 79%;
}

.product {
    position: relative;
}

.product:hover {
    box-shadow: 0 0 40px rgb(0 0 0 / 15%);
}

.product label {
    display: block;
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.product .h1 {
    margin: 0;
    padding: 0;
    color: #000;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
}
.product .h1 a{
    color: inherit;
}
.product h2 {
    margin: 0;
    padding: 5px 0 0;
    font-size: 14px;
    font-weight: 600;
}

.product h2 span {
    color: green;
}

.product h2 s, .off_pr {
    font-style: normal;
    padding: 0 5px 0 2px;
    font-weight: 500;
    color: gray;
    font-size: 14px;
}

.product h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}

.product p {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.main-pro-img {
    height: 380px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 0;
}

.main-pro-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*--------------------*/

.left-pro-main-con {
    overflow: hidden;
}

.left-pro-main-con input {
    width: 100%;
    border: none;
    background: #dfdfdf;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.left-pro-main-con ul {
    margin: 0;
    padding: 10px 0 0 0;
}

.left-pro-main-con ul li {
    list-style-type: none;
    clear: both;
    overflow: hidden;
    padding: 5px 0;
}

.left-pro-main-con ul li input {
    width: 16px;
    float: left;
    height: 16px;
    margin: 3px 5px 0 0;
}

.left-pro-main-con ul li label {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    color: #666;
}

.left-pro-main-con ul li span {
    float: right;
    font-size: 14px;
    font-weight: 500;
    color: #666;
}

.colleting-left {
    background: #FFF;
}

.card-header {
    border: none;
    padding: 0;
    background: #FFF;
}

.card-header button:hover,
.card-header button:focus {
    text-decoration: none;
}

.card-header h2 {
    /* border-top: solid 1px #ebebeb; */
    padding: 0;
}

.card-header h2 button {
    padding: 20px 0 !important;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    padding: 0;
    display: block;
    width: 100%;
    text-align: left;
}

.btn.btn-link span {
    position: absolute;
    right: 0;
    top: 13px;
    font-size: 25px;
    font-weight: 300;
    transform: rotate(46deg);
    transition: transform 0.3s;
}

.btn.btn-link.collapsed span {
    transform: rotate(0);
    transition: transform 0.3s;
}

.card-body {
    padding: 0 0 20px 0;
}

.card {
    border: none;
    border-bottom: solid 1px #e1e1e1 !important;
    padding: 0;
}

.card:last-child {
    border: none !important;
}

.price-rang h1 {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    padding: 0;
    display: block;
    width: 100%;
    text-align: left;
}

.price-rang {
    padding: 20px 0;
    border-bottom: solid 1px #e1e1e1 !important;
}


.breadcrumbs {
    margin: 0;
}

.right-main-title {
    font-size: 20px;
    color: #000;
    float: none;
    font-weight: 500;
    padding: 0;
}

.breadcrumbs ul li:first-child {
    padding-left: 0;
}

.col-right-title {
    border: none;
}

.main-products {
    padding: 0;
}

.filter-drop select {
    margin: 0 5px 0 0;
}

.collection-pro-det {
    padding: 15px;
}

.collection-pro-det .stretched-link{
    position: relative;
}

.btn-add-to-cart {
    position: absolute;
    background: #FFF;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    display: none;
}

.product:hover .btn-add-to-cart {
    display: block;
}

.btn-add-to-cart a:hover {
    background: #000;
    color: #FFF;
}

.btn-add-to-cart a {
    border: solid 1px #dbdbdb;
    width: 90%;
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 25px;
}

.collapse {
    display: block;
}

.btn.btn-link span {
    display: none;
}
.filter_opt{
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    z-index: 9999;
    display: none;
}
.main-pro-img{
    position: relative;
}
.add_wishlist{
    position: absolute;
    bottom: 10px;
    right: 15px;
    /* background-color: #fff; */
    /* height: 50px;
    width: 50px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, .2); */
    z-index: 2;
    
}
.add_wishlist a{
    display: block;
    color: inherit;
    margin-top: 5px;
    color: #fff;
}
.add_wishlist:hover a{
    color: red;
}
.offer_pr{
    position: absolute;
    top: 15px;
    left: 0;
    /* width: 70px;
    height: 70px; */
    background-color: maroon;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 12px;

}
.offer_pr:before{
    content: '';
    height: 0;
    width: 0;
    border-top: 14px transparent solid;
    border-bottom: 14px transparent solid;
    border-left: 14px maroon solid;
    position: absolute;
    left: 100%;
    top: 0;
}
.offer_pr span{
    /* display: block; */
    /* font-size: 16px; */
    font-weight: bold;

}


.pagination {
    display: flex;
    margin: 30px 0 50px;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #000;
    color: white;
    border: 1px solid #000;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
@media screen and (max-width: 767px){
    
    .main-pro-img {
        height: 300px;
    }
    .filter_opt
    {
        display: block;
    }

}


