<div class="breadcrumbs">
	<ul>
		<li><a href="#">Home</a></li>
		<li>/</li>
		<li><a href="#">Mobile Accessories</a></li>
		<li>/</li>
		<li>Earphones</li>
	</ul>
</div>
<div class="container-main nobg">
	<div class="row">
		<div class="col-xl-9 col-lg-10 col-md-7 col-12">
			<div class="product-left">
				<div class="row">
					<div class="col-lg-6 col-12">
						
						<div class="img-zoom-container" (mouseenter)="imageZoom('myimage', 'myresult');">
							<img id="myimage" src="/assets/images/slider-1.png"
							 width="300">
							<div id="myresult" class="img-zoom-result"></div>
						</div>

						<!-- <div class="slider-zoom">

							<lib-ngx-image-zoom [magnification]="1.1" [zoomMode]="'hover'"
								[thumbImage]="'/assets/images/slider-1.png'" [fullImage]="'/assets/images/slider-1.png'">
							</lib-ngx-image-zoom>
						</div> -->
						<div class="slider-thumb-bottom">
							<ul>
								<li>
									<img src="/assets/images/slider-1.png" alt="" />
								</li>
								<li>
									<img src="/assets/images/slider-1.png" alt="" />
								</li>
								<li>
									<img src="/assets/images/slider-1.png" alt="" />
								</li>
								<li>
									<img src="/assets/images/slider-1.png" alt="" />
								</li>
								<li>
									<img src="/assets/images/slider-1.png" alt="" />
								</li>

							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="product-buy-main-details">
							<div class="product-main-text">
								<h1>
									boAt Bassheads 103 In-Ear Wired Headphone (Blue)
									<br />
									<span class="pointer" [routerLink]="['/stores']"  >Visit the Samsung Store</span>
								</h1>
								<div class="star-listing">
									<ul>
										<li>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</li>
										<li>
											<a href="#">
												468 Ratings
											</a>
										</li>
										<li>
											<a href="#">
												17 Reviews
											</a>
										</li>
									</ul>
									<div class="have_a_que my-3">
										<a href="#" class="link">
											Have a questions?
										</a>
									</div>
								</div>
								
								<h2 class="price my-3 mb-0">
									<span class="new_price">₹ 399</span>
									<span class="old_price"> ₹ 1290 </span>
									<span class="offer_price green"> -69% </span>
								</h2>
								<p>Inclusive of all Taxes</p>
							</div>
							<div class="buy-from">
								<p>Apply this promo on cart</p>
								<div class="product_offer my-2">
									<a href="#" class="link d-flex align-items-center">
										<i class="fa fa-gift promo_icon"></i> 
										<span>Offers</span>
									</a>
								</div>
								<div class="product_offer my-2 d-flex">
									<a href="#" class="link d-flex align-items-center">
										<i class="fa fa-money promo_icon"></i> 
										<span>Select Low Cost EMI</span>										
									</a>
									<div class="emi-promo">
										<a href="#">Select EMI</a>
									</div>
								</div>

								<div class="from-promo-code">
									<div class="buy-text">
										<span>Discount worth ₹500</span>
										<label>Promocode: ICICIE10</label>
										<p>Get Flat 10% Cashback Upto Rs.4,000. No Minimum Order Value. Conditions Apply! <a href="">Terms
												and Conditions</a></p>
									</div>
									<div class="mt-2 more_offers">
										<span>
											View 5 more offers
											<i class="fa fa-chevron-right" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>

							<!-- <div class="button-main">
                                <a href="#">Buy Now</a>
                            </div> -->
						</div>
						<div class="product-high">
							<h2>Product Highlights</h2>
							<ul>
								<li>64 GB ROM</li>
								<li>13.72 cm (5.4 inch) Super Retina XDR Display</li>
								<li>12MP + 12MP | 12MP Front Camera</li>
								<li>Ceramic Shield</li>
								<li>IP68 Water Resistance</li>
								<li>All Screen OLED Display</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="product-description">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" >Overview</button>
					</li>
					<li class="nav-item">
						<button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" >Description</button>
					</li>
					<li class="nav-item">
						<button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" >Mfg. Info</button>
					</li>
					<li class="nav-item">
						<button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-Return" type="button">Return Policy</button>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
						<div class="sold-by">
							<div class="sold-shop">
								<h1>boAt Authorised Seller</h1>
								<label for="">Electrop Store</label>
							</div>
							<p>Deep 613, Basement, Below E Com Office, Old Delhi Gurugram Road, Near MCD School, Samalka, New Delhi,
								Delhi, 110037</p>
							<p>Customer Care: 01204606060</p>
						</div>
						<div class="sold-product-details">
							<ul>
								<li>Product Type</li>
								<li>Wired Headphones & Headsets</li>
							</ul>
							<ul>
								<li>Brand</li>
								<li>boAt</li>
							</ul>
							<ul>
								<li>Product Code</li>
								<li>MOBBOAT-BASSHEAELEC803402992F031F
								</li>
							</ul>
							<ul>
								<li>Color</li>
								<li>Blackli>
							</ul>
							<ul>
								<li>Type</li>
								<li>In-Ear</li>
							</ul>
							<ul>
								<li>Model ID</li>
								<li>Bassheads 172
								</li>
							</ul>
							<ul>
								<li>Connectivity</li>
								<li>Wired</li>
							</ul>
							<ul>
								<li>Mic</li>
								<li>Yes</li>
							</ul>
							<ul>
								<li>Sports Earphones</li>
								<li>No</li>
							</ul>
							<ul>
								<li>Noise Cancelling</li>
								<li>No</li>
							</ul>
							<ul>
								<li>Sweat Proof</li>
								<li>Yes</li>
							</ul>
							<ul>
								<li>Water Resistant</li>
								<li>No</li>
							</ul>
							<ul>
								<li>Customer Care Contact Details
								</li>
								<li>If you have any queries related to products or warranty, please contact Customer Care on
									022-4946-1882 or info@imaginemarketingindia.com</li>
							</ul>
							<ul>
								<li>Headphone Jack</li>
								<li>3.5mm</li>
							</ul>
							<ul>
								<li>Connector Plating</li>
								<li>Gold</li>
							</ul>

						</div>
					</div>
					<div class="tab-pane fade " id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
						<p class="dis-page-main">
							Serenade the scene with the boAt Bass head's 172, the bass oasis to your Nirvana. Equipped with 10mm
							Drivers, experience Audio Nirvana to take the pace of your surroundings with a quick in step and a
							motivated mind-set. Get ready to turn the place over
							with that heavy bass. A smooth vibrant design available in colours Active Black, Jazzy Blue and Raging
							Red; step into the fashion game. The perfect on hand earphones to possess, always stay a step ahead. Take
							calls using the
							inbuilt microphone and tune out freely with the tangle free braided cable. It s been made for your
							comfort. Durable to the max, get ready to rock the rhythm with heavy bass tunes, because the private party
							just got started.
							Just Plug In with the 3.5mm angled jack. The sound you ve been looking for has been found. Remember to do
							Epic Sh*t when you re rocking with the Bass head's 172, the power is yours.
						</p>
					</div>
					<div class="tab-pane fade " id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
						<div class="sold-product-details">
							<ul>
								<li>
									Country Of Origin
								</li>
								<li>
									China
								</li>
							</ul>
							<ul>
								<li>
									Imported By
								</li>
								<li>
									Imagine Marketing Pvt. Ltd.
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-pane fade " id="pills-Return" role="tabpanel" aria-labelledby="pills-return-tab">
						<div class="sold-product-details">
							<ul>
								<li>
									Return Policy
								</li>
								<li>
									7 Days Free Replacement - This item is eligible for free replacement within 7 days of delivery in an
									unlikely event of the delivered item being damaged or different from what you had ordered. We may
									contact you to ascertain the damage in the product prior
									to issuing a replacement. In case the device isn't working or is defective, please contact the
									brand/seller. Cancellation Allowed
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="product-description mt-3 mb-5">
				<div class="row border-row">
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								In the Box
							</h2>
						</div>
						<div>
							<p class="warranty-description">Handset , USB-C to Lightning Cable , Documentation ,
								Warranty Card
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Color Family
							</h2>
						</div>
						<div>
							<p class="warranty-description">White
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								SIM Type
							</h2>
						</div>
						<div>
							<p class="warranty-description">Dual SIM
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Operating System
							</h2>
						</div>
						<div>
							<p class="warranty-description">ios 13
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Processor
							</h2>
						</div>
						<div>
							<p class="warranty-description">A13 Bionic Chip Processor
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Color
							</h2>
						</div>
						<div>
							<p class="warranty-description">White
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Sim Size
							</h2>
						</div>
						<div>
							<p class="warranty-description">Nano SIM and eSIM
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Series Name
							</h2>
						</div>
						<div>
							<p class="warranty-description">iphone 11
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Categories
							</h2>
						</div>
						<div>
							<p class="warranty-description">Smart Phones
							</p>
						</div>
					</div>
				</div>



				<div class="row border-row">
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								In the Box
							</h2>
						</div>
						<div>
							<p class="warranty-description">Handset , USB-C to Lightning Cable , Documentation ,
								Warranty Card
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Color Family
							</h2>
						</div>
						<div>
							<p class="warranty-description">White
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								SIM Type
							</h2>
						</div>
						<div>
							<p class="warranty-description">Dual SIM
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Operating System
							</h2>
						</div>
						<div>
							<p class="warranty-description">ios 13
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Processor
							</h2>
						</div>
						<div>
							<p class="warranty-description">A13 Bionic Chip Processor
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Color
							</h2>
						</div>
						<div>
							<p class="warranty-description">White
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Sim Size
							</h2>
						</div>
						<div>
							<p class="warranty-description">Nano SIM and eSIM
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Series Name
							</h2>
						</div>
						<div>
							<p class="warranty-description">iphone 11
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Categories
							</h2>
						</div>
						<div>
							<p class="warranty-description">Smart Phones
							</p>
						</div>
					</div>
				</div>



				<div class="row border-row">
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								In the Box
							</h2>
						</div>
						<div>
							<p class="warranty-description">Handset , USB-C to Lightning Cable , Documentation ,
								Warranty Card
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Color Family
							</h2>
						</div>
						<div>
							<p class="warranty-description">White
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								SIM Type
							</h2>
						</div>
						<div>
							<p class="warranty-description">Dual SIM
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Operating System
							</h2>
						</div>
						<div>
							<p class="warranty-description">ios 13
							</p>
						</div>
					</div>
				</div>

				<div class="row border-row">
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								In the Box
							</h2>
						</div>
						<div>
							<p class="warranty-description">Handset , USB-C to Lightning Cable , Documentation ,
								Warranty Card
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Color Family
							</h2>
						</div>
						<div>
							<p class="warranty-description">White
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								SIM Type
							</h2>
						</div>
						<div>
							<p class="warranty-description">Dual SIM
							</p>
						</div>
					</div>
				</div>

				<div class="row border-row">
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								In the Box
							</h2>
						</div>
						<div>
							<p class="warranty-description">Handset , USB-C to Lightning Cable , Documentation ,
								Warranty Card
							</p>
						</div>
					</div>
					<div class="col-md-4 padding-box">
						<div class="box-heading">
							<h2 class="the_box">
								Color Family
							</h2>
						</div>
						<div>
							<p class="warranty-description">White
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-lg-2 col-md-5 col-12">
			<div class="product-detail-right pb-5">
				<div class="right-top-pincode">
					<div class="right-box-main-title truck-delivery buy-from">
						<h3 class="order-truck">
							<i class="fa fa-truck" aria-hidden="true"></i>
						</h3>
						Delivery by 11th Oct
					</div>
					<div class="right-pincode">
						<input type="text" class="form-control" value="395001">
						<a href="javascript:void(0)">change</a>
					</div>
					<div class="right-top-icons icon-margin">
						<ul>
							<li>
								<i class="fa fa-truck fa-2x mb-2" aria-hidden="true"></i>
								<p>Free Shipping</p>
							</li>
							<li>
								<i class="fa fa-retweet fa-2x mb-2" aria-hidden="true"></i>
								<p>7 days Replacement</p>
							</li>
							<li>
								<i class="fa fa-th-large fa-2x mb-2" aria-hidden="true"></i>
								<p>Cancellation</p>
							</li>
						</ul>
					</div>

					<div class="konw_more">
						<span>Know more</span>
					</div>
					<div class="button-section">

						<button class="button-bag">ADD TO BAG</button>

						<button class="button-buy">
							BUY NOW
						</button>
						<div class="sold-by-delhi">
							<p>
								sold by
								<span class="sold_Prime_Gadgets">Prime Gadgets</span> ,
								New Delhi
							</p>
						</div>
					</div>
				</div>
				<div class="offer">
					<!-- <div class="right-box-main-title">
						Offers
					</div> -->
					<h1>
						<i class="fa fa-apple" aria-hidden="true"></i>
						Warranty
					</h1>
					<p>
						1 year manufacturer warranty for phone and 6 months for in the box accessories</p>
				</div>
				<!-- <div class="sold-by">
					<p>Sold by</p>
					<span> <b>Electrop Store,</b> New Delhi</span>
				</div> -->
				<!-- <div class="details-listing">
					<ul>
						<li>Top Selling Wired Headphones & Headsets on boAt</li>
						<li>More Wired Headphones & Headsets</li>
						<li>Best sellers & Top Offers on boAt</li>
					</ul>
				</div> -->
				<!-- <div class="right-reviews">
					<div class="right-box-main-title">
						Offers
					</div>
					<div class="ratings-main">
						<div class="main-rate-left">
							<h1>4.2/5</h1>
							<div class="left-starts">
								<i class="fa fa-start"></i>
								<i class="fa fa-start"></i>
								<i class="fa fa-start"></i>
								<i class="fa fa-start"></i>
								<i class="fa fa-start"></i>
							</div>
							<p>
								<b>151</b> Ratings <br />
								<b>29</b> Reviews
							</p>
						</div>
						<div class="main-rate-right">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
									aria-valuemax="100"></div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
									aria-valuemax="100"></div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
									aria-valuemax="100"></div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
									aria-valuemax="100"></div>
							</div>
						</div>
					</div>
					<div class="revies-main">
						<div class="review-box">
							<div class="review-title">
								<div class="title-start">
									<i class="fa fa-start"></i> 5
								</div>
								good product
							</div>
							<div class="review-des">
								<p>clear and very reliable to ear definitely suggest to purchase </p>
							</div>
							<div class="date-report">
								<h3>Sj Js 01-SEP-2021</h3>
								<p>
									Report
								</p>
							</div>
						</div>
					</div>
				</div> -->



				<div class="details-listing p-0 details-listing-border">
					<ul>
						<li class="pointer">
							<a class="padding-tag">
								Top Selling Smart Phones on
								<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
							</a>
						</li>
						<li class="pointer">
							<a class="padding-tag">
								More Smart Phones
								<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
							</a>
						</li>
						<li class="pointer border_seller">
							<a class="padding-tag">
								Best Sellers & Top Offers on Apple
								<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>


	</div>

	<!-- <div class="row flash">

		<div class="col-md-12">
			<div class="flash-products">
				<h1>Products Related</h1>
				<owl-carousel-o [options]="flashProducts">
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<h3>Apple Macbook Laptop</h3>
						<p>$99.99 <span>$1000.00</span> -20%</p>
						<label>offers worth $00.09</label>
					</ng-template>
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<h3>Apple Macbook Laptop</h3>
						<p>$99.99 $1000.00 -20%</p>
						<label>offers worth $00.09</label>
					</ng-template>
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<h3>Apple Macbook Laptop</h3>
						<p>$99.99 $1000.00 -20%</p>
						<label>offers worth $00.09</label>
					</ng-template>
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<h3>Apple Macbook Laptop</h3>
						<p>$99.99 $1000.00 -20%</p>
						<label>offers worth $00.09</label>
					</ng-template>
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<h3>Apple Macbook Laptop</h3>
						<p>$99.99 $1000.00 -20%</p>
						<label>offers worth $00.09</label>
					</ng-template>
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<h3>Apple Macbook Laptop</h3>
						<p>$99.99 $1000.00 -20%</p>
						<label>offers worth $00.09</label>
					</ng-template>
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<h3>Apple Macbook Laptop</h3>
						<p>$99.99 $1000.00 -20%</p>
						<label>offers worth $00.09</label>
					</ng-template>
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<h3>Apple Macbook Laptop</h3>
						<p>$99.99 $1000.00 -20%</p>
						<label>offers worth $00.09</label>
					</ng-template>
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<h3>Apple Macbook Laptop</h3>
						<p>$99.99 $1000.00 -20%</p>
						<label>offers worth $00.09</label>
					</ng-template>
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<h3>Apple Macbook Laptop</h3>
						<p>$99.99 $1000.00 -20%</p>
						<label>offers worth $00.09</label>
					</ng-template>
				</owl-carousel-o>
			</div>


		</div>
	</div> -->

	<!-- <div class="row flash margin-cx pb-5 mt-1">
		<div class="col-md-12">
			<div class="flash-products">
				<h1>Brand Related</h1>

				<owl-carousel-o [options]="flashProducts">

					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<div class="logo-brand">
							<img class="logo-brand-img" src="/assets/images/hpp.png" />
						</div>
					</ng-template>


					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<div class="logo-brand">
							<img class="logo-brand-img" src="/assets/images/hpp.png" />
						</div>
					</ng-template>
					<ng-template carouselSlide>
						<img src="/assets/images/product-photo2.png" alt="">
						<div class="logo-brand">
							<img class="logo-brand-img" src="/assets/images/hpp.png" />
						</div>
					</ng-template>
				</owl-carousel-o>
			</div>
		</div>
		<div class=" row mt-5">
			<div class="col-md-4 ">
				<div class="main-review">
					<div class="rating_review">
						<h1 class="review_h1">Customer reviews</h1>
						<div class="rating_start">
							<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
							<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
							<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
							<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
							<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
							<div class="rating_review_customer">
								<span>4.4 out of 5</span>
							</div>
						</div>
						<div class="golbal_review">
							<p>5,826 global rating</p>
						</div>
						
						<div class="calculated">
							<i class="fa mr-2 fa-angle-down" aria-hidden="true"></i>
							<span>How are ratings calculated?</span>
						</div>
					</div>
					<div class="sold-by-review">
						<h1 class=review_h1>By feature</h1>
					</div>
					<div>
						<div class="start_durability">
							<p class="start_durability_p">Durability</p>
							<div class="rating_start">
								<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
								<div class="rate_rea">
									<span class="ml-1">4.2</span>
								</div>
							</div>
						</div>
						<div class="start_durability">
							<p class="start_durability_p">Sturdiness</p>
							<div class="rating_start">
								<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
								<div class="rate_rea">
									<span class="ml-1">3.2</span>
								</div>
							</div>
						</div>
						<div class="start_durability">
							<p class="start_durability_p">Value for money</p>
							<div class="rating_start">
								<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
								<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
								<div class="rate_rea">
									<span class="ml-1">3.2</span>
								</div>
							</div>
						</div>
						<div class="calculated m-0">
							<i class="fa mr-2 fa-angle-down" aria-hidden="true"></i>
							<span>See more</span>
						</div>
					</div>
					<div>
						<h1 class="review_h1 mt-2">Reviews this product</h1>
						<div class="write">
							<span>Share Your thoughts with other customers</span>
							<div class="review_button">
								<button class="product_review_button">Write a product review</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<h1 class="review_h1">Reviews with images</h1>

				<div class="img-section">
					<div class="img1">
						<img class="img-view" src="/assets/images/product-photo1.png" />
					</div>
					<div class="img1">
						<img class="img-view" src="/assets/images/product-photo1.png" />
					</div>
					<div class="img1">
						<img class="img-view" src="/assets/images/product-photo1.png" />
					</div>
					<div class="img1">
						<img class="img-view" src="/assets/images/product-photo1.png" />
					</div>
				</div>
				<div class="see_customer">
					<span>See all customer images</span>
				</div>
				<div>
					<div class="my-3">
						<h1 class="review_h1">Read reviews that mention</h1>
					</div>
					<div class="button_All">
						<div class="button_row">
							<button class="mixer_button">mixer grinder</button>
							<button class="mixer_button">noise level</button>
							<button class="mixer_button">easy to clean</button>
							<button class="mixer_button">value for money</button>
						</div>
						<div class="button_row">
							<button class="mixer_button">mixer grinder</button>
							<button class="mixer_button">noise level</button>
							<button class="mixer_button">easy to clean</button>
							<button class="mixer_button">value for money</button>
							<button class="mixer_button">value for money</button>
						</div>
					</div>
					<div>
						<select class="select-review">
							<option value="volvo">Top review</option>
							<option value="saab">Saab</option>
						</select>
					</div>
					<div class="top_review mt-4">
						<h1 class="review_h1">Top reviews from India</h1>
						<div class="top_review_description">
							<div class="descriptipon_heading">
								<div class="img-round">
									<img src="/assets/images/product-photo1.png" />
								</div>
								<span class="span">SAM</span>
							</div>
							<div class="marks mt-2">
								<div class="rating_start">
									<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
									<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
									<i class="fa fa-star fa-xl start" aria-hidden="true"></i>
									<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
									<i class="fa fa-star-o fa-xl start" aria-hidden="true"></i>
									<div class="rate_rea">
										<span class="ml-1 text-font-bold">It's absolutely not up to mark , don't buy.</span>
									</div>

								</div>
							</div>
							<div class="review_details">
								<h2>Reviewed in India on 11 May 2019</h2>
								<h2 class="design_mixer">Design : Mixer Grinder Juicer <span class="see_customer">Verified Purchase</span></h2>
								<div>
									lorem ipsum dolor sit amet, consectet 	lorem ipsum dolor sit amet, consectet	lorem ipsum dolor sit amet, consectet	lorem ipsum dolor sit amet, consectet	lorem ipsum dolor sit amet, consectet	lorem ipsum dolor sit amet, consectet	lorem ipsum dolor sit amet, consectet
								</div>
								<div class="mt-2">
									lorem ipsum dolor sit amet, consectet 	lorem ipsum dolor sit amet, consectet	lorem ipsum dolor sit amet, consectet	lorem ipsum dolor sit amet, consectet	lorem ipsum dolor sit amet, consectet	lorem ipsum dolor sit amet, consectet	lorem ipsum dolor sit amet, consectet
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div> -->



</div>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

