/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background: #f3f7f8;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lato', sans-serif;
}

input:focus-visible, 
input:focus,
textarea:focus  {
    outline: none;
    box-shadow: none !important;
    border-color: #000 !important;
}

a,a:hover {
    text-decoration: none;
}

a.link{
    color: #666;
}
a.link:hover{
    color: #000;
}
.row{
    margin: 0;
}
.spacerY{
    padding-top: 70px;
    padding-bottom: 70px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-main {
    max-width: 1860px;
    margin: auto;
    padding: 0 20px;
    background: #FFF;
}

.container-main.nobg {
    background: none;
    padding-left: 0;
    padding-right: 0;
}


.header {
    background: #F3F7F8;
    /* overflow: hidden; */
    padding: 0 25px;
}


.categories-menu {
    
    padding: 10px 0;
    border: solid 1px #000;
    font-size: 12px;
    background-color: #FFF;
}

.categories-menu img {
    float: left;
    padding: 12px 10px 0 15px;
}


.nav-link {
    padding: 0;
    color: #7e7e7e;
    font-weight: 600;
    padding-right: 10px;
}


.header-right{
    font-size: 14px;
    font-weight: 600;
}

.my-order a {
    color: #000;
}

.cart {
    position: relative;
}


.cart a {
    color: #000;
}

.cart .cart_badge {
    background: #000;
    font-size: 11px;
    color: #FFF;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    text-align: center;
    line-height: 20px;
    margin: 0 0 0 14px;
}



.login a {
    color: #000;
}
.login a > span:hover{
    text-decoration: underline;
}
.login{
    padding: 25px 0;
}
/* .dropdown-toggle::after {
    display: none;
} */


.searching
{
    position: relative;
}
.searching input {
    border: solid 1px #000;
    /* width: calc(100% - 55px); */
    width: 100%;
    /* max-width: 85%; */
    padding: 10px 10px 10px 45px;
    font-size: 12px;
    color: #7e7e7e;
    font-weight: 600;
}

.searching img {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.pincode {
    border-bottom: solid 1px #bfbfbf;
    border: none;
    max-width: 120px;
}


.dropdown-menu.show {
    right: 0;
    transform: none !important;
    top: 100% !important;
    width: 100%;
    border-radius: 0;
}

.owl-theme .owl-nav{
    margin: 0;
}
.dropdown-toggle::after{
    border-top: .5em #000 solid;
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;
    margin-left: auto;
}

.owl-theme .owl-nav { 
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(50% - 27px);
    /* transform: translateY(-50%); */
    width: 100%;
}
.owl-theme .owl-nav .owl-next,
.owl-theme .owl-nav .owl-prev
 {
    background: #FFF;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 15%);
    position: absolute;
}

.owl-theme .owl-nav .owl-next {
    right: 5px;
}
.owl-theme .owl-nav .owl-prev {
    left: 5px;
}


.categories .owl-theme .owl-nav .owl-next,
.categories .owl-theme .owl-nav .owl-prev
 {
    background: #FFF;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 15%);
    position: absolute;
}
.categories .owl-theme .owl-nav{
    top: 0%;
}
.categories .owl-theme .owl-nav .owl-prev{
    left: 0;
    margin: 25px 0;
}
.categories .owl-theme .owl-nav .owl-next{
    right: 0;
    margin: 25px 0;
}


.categories .owl-item {
    text-align: center;
}

.flash-products .owl-carousel .owl-item {
    padding: 0 50px !important;
}


.breadcrumbs {
    /* width: 1860px; */
    margin: 20px auto 20px;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li {
    list-style-type: none;
    display: inline;
    color: #000;
    padding: 0 5px;
}

.breadcrumbs ul li a {
    color: #CCC;
}

.colleting-right {
    background: #FFF;
    /* overflow: hidden; */
}

.left-title {
    font-size: 20px;
    font-weight: bold;
}

.right-main-title {
    font-size: 22px;
    padding: 25px;
    color: #000;
    float: left;
}

.right-main-title span {
    color: #CCC;
}

.filter-drop select {
    float: right;
    margin: 22px 25px 0 0;
    border: solid 1px #CCC;
    width: 200px;
    height: 40px;
    padding: 0 5px;
}

.filter-drop select option {
    font-size: 14px;
}

.col-right-title {
    overflow: hidden;
    border-bottom: solid 1px #CCC;
}

.main-products {
    padding: 20px 15px;
    /* overflow: hidden; */
}

.ngx-slider .ngx-slider-bar {
    background: #bbb !important;
}

.ngx-slider .ngx-slider-pointer {
    background: #000 !important;
}

.ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
    background: #FFF !important;
}

.ngxImageZoomContainer {
    width: 100% !important;
}

.slider-zoom img.ngxImageZoomThumbnail {
    width: 100%;
}


/*
font-family: 'Montserrat', sans-serif;
*/


@media (min-width: 992px) and (max-width: 1199px){

    .my-order > a,
    .cart > a,
    .login > a
    {
        display: block;
        text-align: center;
    }
    .my-order > a > span,
    .cart > a > span,
    .login > a > span
    {
        /* display: block; */
        font-size: 12px;
    }
    .header-right{
        justify-content: space-evenly !important;
    }

}
@media (max-width: 991px){
    .logo img{
        width: 100%;
    }
    .my-order > a > span,
    .cart > a > span,
    .login > a > span
    {
        display: none;
    }
    .categories-menu{
        max-width: 165px;
    }
    .searching input{
        max-width: 100%;
    }
    
}
@media (max-width: 767px){
    
    .searching{
        width: calc(100% - 40px);
        margin: 0 20px;
    }
    .container-main{
        padding: 0 10px;
    }
    .header {
        padding: 15px 0;
    }
    

}
@media (max-width: 575px){

    .searching{
        margin: 0px 0  0 0;
        width: 100%;
    }
    
    .header-center{
        order: 3;
    }
    .header-right{
        order: 2;
        padding-right: 12px !important;
    }
    .spacerY{
        padding-top: 40px;
        padding-bottom: 40px;
    }

}
