<main>
  <!-- Start Categories -->
  <div class="container-main">
    <div class="categories first">
      <owl-carousel-o [options]="categorySliderOption">
        <ng-template carouselSlide *ngFor="let category of allCategories">
          <div class="pointer " [routerLink]="['/sub-category/' + category.id]">
            <img
              src="https://api.admincliq.com/temp/{{ category.data.banner }}"
              alt=""
            />
            <span class="text-truncate">{{ category.data.name }}</span>
          </div>
        </ng-template>
        <!-- <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/sub-category']"  >
                        <img src="../../assets/images/category/category (2).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/sub-category']"  >
                        <img src="../../assets/images/category/category (3).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/sub-category']"  >
                        <img src="../../assets/images/category/category (4).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/sub-category']"  >
                        <img src="../../assets/images/category/category (5).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/sub-category']"  >
                        <img src="../../assets/images/category/category (6).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/sub-category']"  >
                        <img src="../../assets/images/category/category (7).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/sub-category']"  >
                        <img src="../../assets/images/category/category (8).jpg" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/sub-category']"  >
                        <img src="../../assets/images/category/category (3).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/sub-category']"  >
                        <img src="../../assets/images/category/category (6).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/sub-category']"  >
                        <img src="../../assets/images/category/category (2).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>
                </ng-template> -->
      </owl-carousel-o>
    </div>
  </div>
  <!-- End Categories -->

  <!-- Start Banner -->
  <div
    class="container-main nobg"
    *ngIf="welcomeOffersData && welcomeOffersData.length"
  >
    <div class="page-hero">
      <owl-carousel-o [options]="customOptions">
        <ng-template  carouselSlide *ngFor="let slider of welcomeOffersData">
          <div class="banner_img">
            <img
              src="https://api.admincliq.com/temp/{{ slider.image }}"
              alt=""
              [routerLink]="[slider.redirectLink]"
              class=""
            />            
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <!-- End Banner -->

  <!-- Start Best Offer -->
  <div
    class="container-main px-md-4 px-2 nobg"
    *ngIf="bigOfferSliderData && bigOfferSliderData.length"
  >
    <div class="page-section spacerT">
      <h1 class="fw-light text-uppercase">Best Offers</h1>
      <div class="section-products top_brands_offer">
        <owl-carousel-o [options]="best_offer">
          <ng-template carouselSlide *ngFor="let slider of bigOfferSliderData">
            <div class="pro_img " [routerLink]="[slider.redirectLink]">
              <img
                src="https://api.admincliq.com/temp/{{ slider.image }}"
                alt=""
                class="best_offer_img"
              />
              <div class="pro_offer_txt">
                <a href="#" class="stretched-link">
                  <span class="fw-bold">Lets Save</span>
                  <p class="fw-light m-0">Upto {{ slider.uptoOff }}% Off</p>
                </a>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <!-- End Best Offer -->

  <!-- Start Top Brands Banner -->
  <div
    class="container-main"
    *ngIf="topSelectedBrandSliderData && topSelectedBrandSliderData.length"
  >
    <div class="page-section spacerT">
      <h1 class="fw-bold text-uppercase">Top Brands</h1>
      <div class="section-products brands_banner">
        <owl-carousel-o [options]="top_brands_banner">
          <ng-template
            carouselSlide
            *ngFor="let slider of topSelectedBrandSliderData"
          >
            <div class="" [routerLink]="[slider.redirectLink]">
              <a href="#" class="d-block">
                <img
                  src="https://api.admincliq.com/temp/{{ slider.image }}"
                  alt=""
                  class="top_brands_img"
                />
              </a>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <!-- End Top Brands Banner -->

  <!-- Start Best seller -->
  <div
    class="container-main px-md-4 px-2 nobg bestSellingProducts"
    *ngIf="bestSellerSliderData && bestSellerSliderData.length"
  >
    <div class="page-section spacerT">
      <h1 class="fw-bold text-uppercase w-50 mx-auto section_title">
        Best Seller Products
      </h1>
      <div class="section-dresses g-3">
        <owl-carousel-o [options]="top_brands">
          <ng-template
            carouselSlide
            *ngFor="let slider of bestSellerSliderData"
          >
            <div
              class="best_selling shadow-sm"
              [routerLink]="[slider.redirectLink]"
            >
              <div class="pro_img">
                <img
                  src="https://api.admincliq.com/temp/{{ slider.image }}"
                  alt=""
                  class="ratio ratio-1x1"
                />
              </div>
              <div class="pro_content">
                <div class="pro_name fw-bold text-truncate">
                  {{ slider.category }}
                </div>
                <div class="pro_offer">{{ slider.uptoOff }}% Discount</div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
        <div class="text-center">
          <a href="#" class="btn-view-all d-inline-block">
            <span>View All</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Best seller -->

  <!-- Start Best Products -->
  <div
    class="container-main"
    *ngIf="bestSellingProductSliderData && bestSellingProductSliderData.length"
  >
    <div class="page-section spacerY">
      <h1 class="fw-bold text-uppercase w-50 mx-auto section_title">
        Best Products
      </h1>
      <div class="section-laptop">
        <owl-carousel-o [options]="top_brands">
          <ng-template
            carouselSlide
            *ngFor="let slider of bestSellingProductSliderData"
          >
            <div
              class="best_selling shadow-sm"
              [routerLink]="[slider.redirectLink]"
            >
              <div class="">
                <img
                  src="https://api.admincliq.com/temp/{{ slider.image }}"
                  alt=""
                  class="best_pro_img"
                />
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <!-- End Best Products -->

  <!-- Start Product Banner -->
  <div class="container-main nobg" *ngIf="welcomeOffersData && welcomeOffersData.length">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slider of newArrivalSliderData">
        <div class="foot_banner">
          <img
          src="https://api.admincliq.com/temp/{{ slider.image }}"
          alt=""
          [routerLink]="[slider.redirectLink]"
        />
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <!-- End Product Banner -->
</main>
