<div class="container-main">
    <div class="categories first">
        <owl-carousel-o [options]="categorySliderOption">
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Health & Wellness</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            <ng-template carouselSlide>
                <div class="pointer"  [routerLink]="['/collections']"  >
                    <img src="/assets/images/cate-img1.png" alt="">
                    <span class="text-truncate">Electronics</span>
                </div>              
            </ng-template>
            
            
        </owl-carousel-o>
    </div>

    <div class="page-hero">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="/assets/images/hero-banner.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/hero-banner.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/hero-banner.png" alt="">
            </ng-template>
        </owl-carousel-o>
    </div>

    <div class="page-section top-space-small spacerY">
        <h1 class="fw-light text-uppercase">Top Brands</h1>
        <div class="section-products">
            <ul class="row">
                <li class="col-lg-3">
                    <div class="pro_img">
                        <img src="/assets/images/product-photo.png" alt="" />
                        <div class="pro_offer_txt">
                            <span class="fw-bold">Lets Save</span>
                            <p class="fw-light  m-0">Upto 20% Off</p>
                        </div>
                    </div>
                </li>                
                <li class="col-lg-3">
                    <div class="pro_img">
                        <img src="/assets/images/product-photo.png" alt="" />
                        <div class="pro_offer_txt">
                            <span class="fw-bold">Lets Save</span>
                            <p class="fw-light  m-0">Upto 20% Off</p>
                        </div>
                    </div>
                </li>                
                <li class="col-lg-3">
                    <div class="pro_img">
                        <img src="/assets/images/product-photo.png" alt="" />
                        <div class="pro_offer_txt">
                            <span class="fw-bold">Lets Save</span>
                            <p class="fw-light  m-0">Upto 20% Off</p>
                        </div>
                    </div>
                </li>                
                <li class="col-lg-3">
                    <div class="pro_img">
                        <img src="/assets/images/product-photo.png" alt="" />
                        <div class="pro_offer_txt">
                            <span class="fw-bold">Lets Save</span>
                            <p class="fw-light  m-0">Upto 20% Off</p>
                        </div>
                    </div>
                </li>                
            </ul>
        </div>
    </div>

<!-- 
    <div class="categories">
        <owl-carousel-o [options]="categorySliderOption">
            <ng-template carouselSlide>
                <img src="/assets/images/cate-img1.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/cate-img1.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/cate-img1.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/cate-img1.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/cate-img1.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/cate-img1.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/cate-img1.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/cate-img1.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/cate-img1.png" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/cate-img1.png" alt="">
            </ng-template>
        </owl-carousel-o>
    </div>



    <div class="flash-products">
        <h1>Flash Products</h1>
        <owl-carousel-o [options]="flashProducts">
            <ng-template carouselSlide>
                <img src="/assets/images/product-photo2.png" alt="">
                <h3>Apple Macbook Laptop</h3>
                <p>$99.99 <span>$1000.00</span> -20%</p>
                <label>offers worth $00.09</label>
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/product-photo2.png" alt="">
                <h3>Apple Macbook Laptop</h3>
                <p>$99.99 $1000.00 -20%</p>
                <label>offers worth $00.09</label>
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/product-photo2.png" alt="">
                <h3>Apple Macbook Laptop</h3>
                <p>$99.99 $1000.00 -20%</p>
                <label>offers worth $00.09</label>
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/product-photo2.png" alt="">
                <h3>Apple Macbook Laptop</h3>
                <p>$99.99 $1000.00 -20%</p>
                <label>offers worth $00.09</label>
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/product-photo2.png" alt="">
                <h3>Apple Macbook Laptop</h3>
                <p>$99.99 $1000.00 -20%</p>
                <label>offers worth $00.09</label>
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/product-photo2.png" alt="">
                <h3>Apple Macbook Laptop</h3>
                <p>$99.99 $1000.00 -20%</p>
                <label>offers worth $00.09</label>
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/product-photo2.png" alt="">
                <h3>Apple Macbook Laptop</h3>
                <p>$99.99 $1000.00 -20%</p>
                <label>offers worth $00.09</label>
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/product-photo2.png" alt="">
                <h3>Apple Macbook Laptop</h3>
                <p>$99.99 $1000.00 -20%</p>
                <label>offers worth $00.09</label>
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/product-photo2.png" alt="">
                <h3>Apple Macbook Laptop</h3>
                <p>$99.99 $1000.00 -20%</p>
                <label>offers worth $00.09</label>
            </ng-template>
            <ng-template carouselSlide>
                <img src="/assets/images/product-photo2.png" alt="">
                <h3>Apple Macbook Laptop</h3>
                <p>$99.99 $1000.00 -20%</p>
                <label>offers worth $00.09</label>
            </ng-template>
        </owl-carousel-o>
        <div class="btn-view-all">
            <a href="#">View All</a>
        </div>
    </div> -->





</div>