<main>

    <!-- Start Categories -->
    <div class="container-main">
        <div class="categories first">
            <owl-carousel-o [options]="categorySliderOption">
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (1).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (2).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (3).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (4).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (5).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (6).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (7).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (8).jpg" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (3).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (6).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pointer"  [routerLink]="['/collections']"  >
                        <img src="../../assets/images/category/category (2).png" alt="">
                        <span class="text-truncate">Electronics</span>
                    </div>              
                </ng-template>
                
                
            </owl-carousel-o>
        </div>
    </div>
    <!-- End Categories -->

    <!-- Start Banner -->
    <div class="container-main nobg">
        <div class="page-hero">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="/assets/images/hero-banner.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/assets/images/hero-banner.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/assets/images/hero-banner.png" alt="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Start Top Brands Offer -->
    <div class="container-main px-md-4 px-2 nobg">
        <div class="page-section spacerY">
            <h1 class="fw-light text-uppercase">Top Brands</h1>
            <div class="section-products top_brands_offer">
                <owl-carousel-o [options]="top_brands">
                    <ng-template carouselSlide>
                        <div class="pro_img">
                            <img src="/assets/images/top_brands (1).jpg" alt="" />
                            <div class="pro_offer_txt">
                                <a href="#" class="stretched-link">
                                    <span class="fw-bold">Lets Save</span>
                                    <p class="fw-light  m-0">Upto 20% Off</p>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pro_img">
                            <img src="/assets/images/top_brands (2).jpg" alt="" />
                            <div class="pro_offer_txt">
                                <a href="#" class="stretched-link">
                                    <span class="fw-bold">Lets Save</span>
                                    <p class="fw-light  m-0">Upto 20% Off</p>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pro_img">
                            <img src="/assets/images/top_brands (3).jpg" alt="" />
                            <div class="pro_offer_txt">
                                <a href="#" class="stretched-link">
                                    <span class="fw-bold">Lets Save</span>
                                    <p class="fw-light  m-0">Upto 20% Off</p>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pro_img">
                            <img src="/assets/images/top_brands (4).jpg" alt="" />
                            <div class="pro_offer_txt">
                                <a href="#" class="stretched-link">
                                    <span class="fw-bold">Lets Save</span>
                                    <p class="fw-light  m-0">Upto 20% Off</p>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pro_img">
                            <img src="/assets/images/top_brands (5).jpg" alt="" />
                            <div class="pro_offer_txt">
                                <a href="#" class="stretched-link">
                                    <span class="fw-bold">Lets Save</span>
                                    <p class="fw-light  m-0">Upto 20% Off</p>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pro_img">
                            <img src="/assets/images/top_brands (6).jpg" alt="" />
                            <div class="pro_offer_txt">
                                <a href="#" class="stretched-link">
                                    <span class="fw-bold">Lets Save</span>
                                    <p class="fw-light  m-0">Upto 20% Off</p>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pro_img">
                            <img src="/assets/images/top_brands (7).jpg" alt="" />
                            <div class="pro_offer_txt">
                                <a href="#" class="stretched-link">
                                    <span class="fw-bold">Lets Save</span>
                                    <p class="fw-light  m-0">Upto 20% Off</p>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pro_img">
                            <img src="/assets/images/top_brands (8).jpg" alt="" />
                            <div class="pro_offer_txt">
                                <a href="#" class="stretched-link">
                                    <span class="fw-bold">Lets Save</span>
                                    <p class="fw-light  m-0">Upto 20% Off</p>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
    <!-- End Top Brands Offer -->

    <!-- Start Top Brands Banner -->
    <div class="container-main">
        <div class="page-section spacerY">
            <h1 class="fw-bold text-uppercase">Top Brands</h1>
            <div class="section-products brands_banner">
                <owl-carousel-o [options]="top_brands_banner">
                    <ng-template carouselSlide>
                        <div class="banner_img">
                            <a href="#" class="d-block">
                                <img src="../../assets/images/banner31.jpg" alt="" class="img-cover" />
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="banner_img">
                            <a href="#" class="d-block">
                                <img src="../../assets/images/banner32.jpg" alt="" class="img-cover" />
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="banner_img">
                            <a href="#" class="d-block">
                                <img src="../../assets/images/banner33.jpg" alt="" class="img-cover" />
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="banner_img">
                            <a href="#" class="d-block">
                                <img src="../../assets/images/banner34.jpg" alt="" class="img-cover" />
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
    <!-- End Top Brands Banner -->

    <!-- Start Best Selling -->
    <div class="container-main px-md-4 px-2 nobg">
        <div class="page-section spacerY">
            <h1 class="fw-bold text-uppercase w-50 mx-auto section_title">Deals with best selling women dresses</h1>
            <div class="section-dresses">
                <div class="row g-3">
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (1).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (2).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (3).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (4).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-view-all d-inline-block"><span>View All</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Best Selling -->

    <!-- Start Best Selling Small -->
    <div class="container-main">
        <div class="page-section spacerY">
            <h1 class="fw-bold text-uppercase w-50 mx-auto section_title">Deals with best selling Laptops</h1>
            <div class="section-laptop">
                <div class="row g-3">
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (1).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (2).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (3).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (4).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (5).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (6).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Best Selling Small -->

    <!-- Start Product Banner -->
    <div class="container-main nobg">
        <div class="shop_banner">
            <!-- For Desktop -->
            <img src="../../assets/images/home-top-banner_desktop.jpg" class="d-none d-sm-block" alt="" width="100%">

            <!-- For Mobile -->
            <img src="../../assets/images/home-top-banner-mobile.jpg" class="d-sm-none d-block" alt="" width="100%">
        </div>
    </div>
    <!-- End Product Banner -->

    <!-- Start Best Selling -->
    <div class="container-main px-md-4 px-2 nobg">
        <div class="page-section spacerY">
            <h1 class="fw-bold text-uppercase w-50 mx-auto section_title">Deals with best selling women dresses</h1>
            <div class="section-dresses">
                <div class="row g-3">
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (1).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (2).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (3).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (4).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-view-all d-inline-block"><span>View All</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Best Selling -->

    <!-- Start Best Selling Small -->
    <div class="container-main">
        <div class="page-section spacerY">
            <h1 class="fw-bold text-uppercase w-50 mx-auto section_title">Deals with best selling Laptops</h1>
            <div class="section-laptop">
                <div class="row g-3">
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (1).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (2).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (3).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (4).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (5).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (6).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Best Selling Small -->

    <!-- Start Product Banner -->
    <div class="container-main nobg">
        <div class="shop_banner">
            <!-- For Desktop -->
            <img src="../../assets/images/home-top-banner_desktop.jpg" class="d-none d-sm-block" alt="" width="100%">

            <!-- For Mobile -->
            <img src="../../assets/images/home-top-banner-mobile.jpg" class="d-sm-none d-block" alt="" width="100%">
        </div>
    </div>
    <!-- End Product Banner -->

    <!-- Start Offer Banner -->
    <div class="container-main">
        <div class="page-section spacerY">
            <div class="section-laptop">
                <div class="row g-3">
                    <div class="col-md-4 col-6">
                        <div class="offer_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/offer_banner/offer_banner (1).png" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="offer_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/offer_banner/offer_banner (2).png" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="offer_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/offer_banner/offer_banner (3).png" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Offer Banner -->

    <!-- Start Best Selling -->
    <div class="container-main px-md-4 px-2 nobg">
        <div class="page-section spacerY">
            <h1 class="fw-bold text-uppercase w-50 mx-auto section_title">Deals with best selling women dresses</h1>
            <div class="section-dresses">
                <div class="row g-3">
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (1).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (2).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (3).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <img src="../../assets/images/pro (4).png" alt="" class="img-cover">
                            </div>
                            <div class="pro_content">
                                <a href="#" class="stretched-link">
                                    <div class="pro_name fw-bold fs-5 text-truncate">Traditional Dress</div>
                                    <div class="pro_offer fs-5">10% Discount</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-view-all d-inline-block"><span>View All</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Best Selling -->

    <!-- Start Best Selling Small -->
    <div class="container-main">
        <div class="page-section spacerY">
            <h1 class="fw-bold text-uppercase w-50 mx-auto section_title">Deals with best selling Laptops</h1>
            <div class="section-laptop">
                <div class="row g-3">
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (1).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (2).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (3).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (4).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (5).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="best_selling shadow-sm">
                            <div class="pro_img">
                                <a href="#">
                                    <img src="../../assets/images/best_sale/best_sale (6).jpg" alt="" class="img-cover">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Best Selling Small -->



</main>


